extends layout

block content

	if user
		p Welcome #{user.user_name}
		div
			a(href="/following") Following
		div
			a(href="/logout") Logout
	else 
		div
			a(href="/login_form") Login

	p search
		form(method="get", action="/search")
			input(id="search", type="text", placeholder="Search", name="search")
		div(id="results")

	p Welcome to wishlist
	form(id="post", method="post", action="/create_wish")
		input(type="text", placeholder="What can technology do for you?", name="wish")
		input(type="submit", value="submit")
	ul
		if user
			each feed_item in feed
				li
					div #{feed_item.wish.text}
				//- if feed_item.voted
				//- 	div(id= feed_item.wish.id, class="vote unvote") v #{feed_item.wish.upvotes}
				//- else 
				//- 	div(id= feed_item.wish.id, class="vote upvote") ^ #{feed_item.wish.upvotes}
				if feed_item.voted
					div(id= feed_item.wish.id, class="vote") v #{feed_item.wish.upvotes}
				else
					div(id= feed_item.wish.id, class="vote upvote") ^ #{feed_item.wish.upvotes}

				if feed_item.following
					div(id= feed_item.wish.id, class="follow unfollow") unfollow
				else
					div(id= feed_item.wish.id, class="follow") follow
		else
			each wish in wishes
				li
					div #{wish.text}
					div #{wish.upvotes}


	script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(type="text/javascript", src="../javascripts/index.js")


